body {
    /* Set line spacing */
    line-height: 1.5;
}



header,
nav {
    /* Set padding and margin */
    padding: 5px 10px;

}

nav ul li {
    /* Set display, margin, padding, font-size, background-color */
    display: inline;
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 2em;
    background-color: #f2f2f2;
}

nav a {
    /* Set text decoration*/
    text-decoration: none;
    color: black;
    font-size: 1.4em;
}

a:visited {
    /* Set color */
    color: #000;
}

nav a.current {
    /* Set text decoration wavy underline, transformation, and underline properties */
    text-decoration: wavy underline;
    text-transform: uppercase;
    color: blue;
    text-underline-offset: 0.2em;
}


h1,
h2,
h3 {
    /*Set margin */
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    margin: 15px;

}

h1 {
    /*Set font and font size*/

}

h2 {
    /*Set font, font size, and alignment*/
    font-size: 1.7em;
    text-align: left;
}

h3 {
    /*Set font size*/
    font-size: 1.4em;

}

/* 
It should be 90% of the body and centered It should have a border radius It should be a grid with two equally sized columns Space them horizontally to match mine Leave 10px between each column Leave 10px between each row Style the images to take up 90% of the space in the columns */

.grid {
    /*Set width, margin, border properties, background color, and grid properties */
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.grid div {
    /* Set border properties, padding, and background color */
    border-radius: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 2px solid #000;

}

.grid img {
    /* Set width, margin, and display */
    width: 90%;
    border: 2px solid #000;
    margin: 0 auto;
    display: block;
}

/* a.It should be 90% of the body and centered b.It should have a border radius c.It should be a grid with three equally sized columns d.Space them horizontally to match mine e.Leave 10px between each column f.Leave 10px between each row g.Style the images to take up 90% of the available space,
be centered,
and have a border */
@media screen and (min-width: 1000px) {
    .grid {
        /* Set grid properties */
        grid-template-columns: 1fr 1fr 1fr;
    }

}


.grid div:nth-child(3n+1) {
    /* Set box shadow */
    /* set on both side */

    box-shadow: -3px 0 0 0 #000;
}

.grid div:nth-child(3n) {
    /* Set box shadow */
    box-shadow: 3px 0 0 0 #000;
}

.grid div:nth-child(3n+2) {
    /* Set box shadow */
    box-shadow: 3px 0 0 0 #000, -3px 0 0 0 #000;
}

p+p {
    /* Set indentation */
    text-indent: 20px;
}

p {
    /* Set margin */
    margin: 20px 0;
}

.grid ul li {
    /* Set margin, line-spacing, list styling  */
    margin-left: 45px;
    margin-bottom: 20px;
    list-style-image: url('../images/sketchbook.png');
    line-height: 1;
}